.brands {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  padding: 30px 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}